         <div class="caption">
            <h1>{{ home_head1 }}</h1>
            <h2 class="hide-xs">{{ home_head2 }}</h2>
            <h3><a href="{{ home_link2 }}"><span class="fa fa-chevron-right" aria-hidden="true"></span>&nbsp;{{ home_link1 }}</a></h3>
	</div>
