{#
  Themes Views' default multi-select element as a set of checkboxes.

  Available variables:
    - element: The collection of checkboxes.
    - children: An array of keys for the children of element.
    - is_nested: TRUE if this is to be rendered as a nested list.
    - depth: If is_nested is TRUE, this holds an array in the form of
      child_id => nesting_level which defines the depth a given element should
      appear in the nested list.
#}
{%
  set classes = [
    'form-checkboxes',
    isNested ? 'bef-nested',
    hasSelectAllNone ? 'bef-select-all-none',
    hasSelectAllNoneNested ? 'bef-select-all-none-nested',
  ]
%}
  <!--button class="btn btn-primary dropdown-toggle" type="button" data-toggle="collapse" data-target="#events">Type of Event
  <span class="caret"></span></button-->
<div id="events"{{ attributes.addClass(classes) }}>
{% set numCols = 1 %}
{% set totalCols = 4 %}
  {% set current_nesting_level = 0 %}
  {% set r = 0 %}
<div class="event-type">
<div class="event-type-list">
  {% for child in children %}
<div class="event-type-event">{% set item = attribute(element, child) %}{{ item }}</div>
  {% if r == 2 %}
   </div>
<div class="event-type-list centered">
  {% set r = 0 %}
  {% else %}
  {% set r = r + 1 %}
  {% endif %}
  {% endfor %}
</div>
</div>
