/*
Error: Invalid CSS after "	 }": expected "}", was ""
        on line 1726 of /home/webmaster/web-projects/dev/web/themes/Custom/miramar/scss/style.scss

1721: 	 @media only screen and (max-width : 320px) {
1722: 
1723: 
1724: 
1725: 	 }

Backtrace:
/home/webmaster/web-projects/dev/web/themes/Custom/miramar/scss/style.scss:1726
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1165:in `expected'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1101:in `expected'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1096:in `tok!'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:643:in `block'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:401:in `media_directive'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:219:in `special_directive'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:194:in `directive'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:661:in `block_child'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:642:in `block'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:661:in `block_child'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:642:in `block'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:635:in `ruleset'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:660:in `block_child'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:117:in `stylesheet'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:42:in `parse'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:393:in `_to_tree'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
/usr/share/koala/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
/usr/share/koala/bin/sass:18:in `load'
/usr/share/koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"	 }\": expected \"}\", was \"\"\A         on line 1726 of /home/webmaster/web-projects/dev/web/themes/Custom/miramar/scss/style.scss\A \A 1721: 	 @media only screen and (max-width : 320px) {\A 1722: \A 1723: \A 1724: \A 1725: 	 }"; }
