<div class="grn-block" role="presentation">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <img class="img-responsive" src="/{{ active_theme_path() }}/images/logo-2.png" alt="">
      </div>
    </div>
  </div>
</div>
{% if page.footer %}
  {% block footer %}
    <footer role="contentinfo">
      <div class="container-fluid">
        {{ page.footer }}
      </div>
    </footer>
  {% endblock %}
{% endif %}

