a.esars-prime {
    font-size:1em!important;
}
a.esars {
    filter:alpha(opacity=50);
    opacity: 0.5;
    -moz-opacity:0.50;
    cursor:default;
    pointer-events:auto;
    z-index:2000;
    font-size:1em!important;
}

a.esars:hover  {
 	background: #1d2451!important;
}

a.esars:hover span  {
 	background: #a22130!important;
}
