{{ attach_library('miramarcustom/twitter') }}
<style type="text/css">.timeline-Tweet-media * {display:none!important;visibility:hidden!important;}
</style>
<a class="twitter-timeline" data-tweet-limit="1" href="https://twitter.com/SDMiramar?ref_src=twsrc%5Etfw">Tweets by SDMiramar</a>
