{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<div id="onesearch">
{% if is_mobile() or is_tablet() %}
<div class="onesearch-mobile centered center">
{% endif %}
<img src="/modules/custom/onesearch/images/onesearch-logo.png" alt="OneSearch" />
{{ form }}
<br class="hide-lg" />
<span class="bold"><a href="https://caccl-sdccd.primo.exlibrisgroup.com/discovery/search?vid=01CACCL_SDCCD:SDMIRAMAR&mode=advanced">Advanced Search</a> | <a href="https://caccl-sdccd.primo.exlibrisgroup.com/discovery/search?vid=01CACCL_SDCCD%3ASDMIRAMAR&lang=en&tab=mm_coursereserves&search_scope=Course_Reserves_mm">Course Reserves</a></span>
{% if is_mobile() or is_tablet() %}
</div>
{% endif %}
</div>
