{{ attach_library('esars/sep') }}
<hr>
<div style="margin-left:0.5em">
<p><strong>Each of the following criteria must be met and checked before scheduling a counseling appointment:</strong></p>
               		
<div id="counselingCheckboxes" class="checks">
	<input id="haveSDCCDApp" class="test" type="checkbox">
	<label for="haveSDCCDApp">Have active SDCCD application</label><br>
	<input id="haveTranscripts" class="test" type="checkbox">
	<label for="haveTranscripts">Have transcripts from all prior colleges on file and evaluated for course equivalencies</label><br>		
  <hr style="margin: 1em auto;width:75%">
  <p>
By checking this box, I acknowledge that I have met the above criteria for scheduling a counseling appointment. I understand that appointments go through a screening process, and students who do not meet the above criteria will be provided with other options for meeting with a counselor.
</p>
<div class="centered center">
	<input id="termAgreement" class="test" type="checkbox"> <label for="termAgreement"><span class="big bold">I Agree</span></label>
</div>
</div>
<div class="menu-content-call" style="max-width:350px">
	<div class="call-menu" style="margin:0 auto">
		<div class="callbar">
			<a class="sep-prime" href="https://sarsweb.sdccd.edu/eSARS/Miramar/DropInCounseling/eSARS.asp">
			<span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
			Schedule An Appointment
			</a>
		</div>
	</div>
</div>
